:root{
    --color-primary:#babafb;
    --color-primary-light:#ce0261;
    --color-primary-variant:#eaf8be;
    --color-red:#ef0909;
    --color-red-light:#4b0404;
    --color-green:#3bb607;
    --color-green-light:#071601;
    --color-gray-900:#2c06b6;
    --color-gray-700:#140253;
    --color-gray-300:#200f16;
    --color-gray-900:#515053;
    --color-white:#e1f6d8;
    --color-bg:#f7f1f1;
    --color-black: #000000;

    --transition:all 300ms ease;

    --container-width-lg: 74%;
    --container-width-md: 88%;
    --form-width: 50%;

    --card-border-radius-1: 0.3rem;
    --card-border-radius-2: 0.5rem;
    --card-border-radius-3: 0.8rem;
    --card-border-radius-4: 2rem;
    --card-border-radius-5: 5rem;
}

*{
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
    appearance: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}
::-webkit-scrollbar{
    display: none;
}

body{
    font-family: 'Montserrat', sans-serif;
    line-height: 1.6;
    color: var(--color-black);
    overflow-x: hidden;
    background: var(--color-bg);
    font-size: 0.9rem;
}
.container{
    width: var(--container-width-lg);
    max-width: 1800px;
    margin-inline: auto;
}
section{
    margin-top: 3rem;
    width: 100vw;
}
h1, h2, h3, h4, h5{
    color: var(--color-black);
    line-height: 1.3;
}
h1{
    font-size: 3rem;
    margin: 1rem 0;
}
p{
    font-weight: 500;
}
h2{
    font-size: 1.7rem;
    margin: 1rem 0;
}
h3{
    font-size: 1.1rem;
    margin: 0.8rem 0 0.5rem;
}
h4{
    font-size: 1rem;
}
a{
    color: var(--color-gray-300);
    transition: var(--transition);
}
img{
    width: 100%;
    object-fit: cover;
    display: block;
}
nav{
    background: var(--color-gray-300);
    height: 4.5rem;
    width: 100vw;
    position: fixed;
    top: 0;
    z-index: 10;
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.2);
}
nav a{
    color: var(--color-bg);
}
nav button{
    display: none;
}
.nav__container{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.avatar{
    width: 2.5rem;
    aspect-ratio: 1/1;
    border-radius: 50%;
    overflow: hidden;
    border: 0.3rem solid var(--color-primary-light);
}
.nav__logo{
    font-weight: 600;
    font-size: 1.2rem;
}
.nav__items{
    display: flex;
    align-items: center;
    gap: 4rem;
    font-weight: 500;
}
.nav__profile{
    position: relative;
    cursor: pointer;
}
.nav__profile ul{
    position: absolute;
    top: 125%;
    right: 0;
    display: flex;
    flex-direction: column;
    box-shadow: 0 3rem 3rem rgba(0,0,0,0.4);
    visibility: hidden;
    opacity: 0;
    transition: var(--transition);
}
.nav__profile:hover > ul{
    visibility: visible;
    opacity: 1;
}
.nav__profile ul li a{
    padding: 1rem;
    background: var(--color-primary-light);
    display: block;
    width: 100%;
}
.nav__profile ul li:last-child a{
    background: var(--color-green-light);
    color: var(--color-primary-variant);
}

           /* CATEGORY-BUTTON */

.category__button{
    background: var(--color-primary-light);
    color: var(--color-white);
    display: inline-block;
    padding: 0.5rem 1rem;
    border-radius: var(--card-border-radius-1);
    font-family: 600;
    font-size: 0.8rem;
    text-align: center;
}
.category__button:hover{
    color: var(--color-primary);
}

.post__thumbnail, .featured__thumbnail{
    border-radius: var(--card-border-radius-2);
    border: 2px solid purple;
    overflow: hidden;
    margin-bottom: 1.6rem;
}
.featured__thumbnail{
    width: 30vw;
    aspect-ratio: 1/1;
}

.post:hover .post__thumbnail img{
    filter: saturate(0);
    transition: filter 500ms ease;
}
.post__author{
    margin-top: 1.2rem;
    gap: 1rem;
    display: flex;
}
.post__author-avatar{
    width: 2.5rem;
    height: 2.5rem;
    border-radius: var(--card-border-radius-3);
    overflow: hidden;
}

.featured{
    margin-top: 8rem;
}
.featured__container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4rem;
    width: 80vw;
    margin-left: auto;
    margin-right: auto;
}
.featured .post__thumbnail{
    height: fit-content;
}
.posts__container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5rem;
}
.post__thumbnail img{
    object-fit: cover;
    width: 100%;
    aspect-ratio: 1/1;
}
.category__buttons{
    padding: 4rem 0;
    border-top: 2px solid var(--color-gray-700);
    border-bottom: 2px solid var(--color-gray-700);
}
.category__buttons-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    width: fit-content;
}

footer{
    background: var(--color-bg);
    padding: 2rem 0 0;
    box-shadow: inset 0 1.5rem 1.5rem rgba(0, 0, 0, 0.219);
}
.footer__socials{
    margin-inline: auto;
    width: fit-content;
    margin-bottom: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.2rem;
}
.footer__socials a{
    background-color: var(--color-gray-300);
    border-radius: 50%;
    width: 2.3rem;
    height: 2.3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-bg);
    font-weight: 600;
}
.footer__socials a:hover{
    background: var(--color-bg);
    color: var(--color-green-light);
}
.footer__copyright{
    font-weight: 600;
    text-align: center;
    padding: 1.5rem 0;
    /* border-top: 2px solid var(--color-green-light); */
    margin-top: 1.5rem;
}
.search__bar{
    margin-top: 7rem;
}
.search__bar-container{
    position: relative;
    width: 30rem;
    background: var(--color-primary);
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    padding: 0.6rem 1rem;
    border-radius: var(--card-border-radius-2);
    color: var(--color-gray-700);
}
.search__bar-container > div {
    width: 100%;
    display: flex;
    align-items: center;
}
.search__bar input{
    background: transparent;
    margin-left: 0.7rem;
    padding: 0.5rem 0;
    width: 100%;
}
.search__bar input::placeholder{
    color: var(--color-gray-300);
}
.btn{
    display: inline-block;
    width: fit-content;
    padding: 0.6rem 1.2rem;
    background-color: var(--color-gray-700);
    border-radius: var(--card-border-radius-2);
    cursor: pointer;
    transition: var(--transition);
    color: var(--color-bg);
}
.post_footer{
    margin-top: 4rem;
}
.singlepost{
    margin: 8rem 0 2rem;
}
.singlepost__container{
    width: var(--form-width);
    background-color: rgba(80, 6, 6, 0.664);
    padding: 1rem 2rem 3rem;
}
.singlepost__thumbnail{
    margin: 1.5rem 0 1rem;
    /* width: 70%; */
}
.singlepost p{
    margin-top: 1rem;
    line-height: 1.7;
}
.category__posts{
    margin-top: 3rem;
}
.category_title{
    height: 10rem;
    margin-top: 4.5rem;
    display: grid;
    place-items: center;
    background-color: rgba(71, 23, 23, 0.253);
    color: white;
}
.sign__form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.form__section{
    display: grid;
    place-items: center;
    height: 100vh;

}
.alert__message{
    padding: 0.8rem 1.4rem;
    margin-bottom: 1rem;
    border-radius: var(--card-border-radius-2);
}
.alert__message.error{
    background: var(--color-red-light);
    color: var(--color-red);
}
.alert__message.success{
    background: var(--color-green-light);
    color: var(--color-green);
}
.input{
    background: #2c02022f;
    border-radius: 30px;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}
@media screen and (max-width:1024px) {
    .container{
        width: var(--container-width-md);
    }
    h2{
        font-size: 1.6rem;
    }
    h3{
        font-size: 1.2rem;
    }
    h5{
        font-size: 0.8rem;
    }

    nav button{
        display: inline-block;
        font-size: 1.5rem;
        background: transparent;
        color: var(--color-white);
        cursor: pointer;
    }
    nav button#close__nav-btn{
        display: none;
    }
    .nav__container{
        position: relative;
    }
    .nav__items{
        position: absolute;
        flex-direction: column;
        right: 0;
        top: 100%;
        width: 12rem;
        align-items: flex-start;
        gap: 0px;
        display: none;
    }
    .nav__items li{
        width: 100%;
        height: 4.5rem;
        display: flex;
        align-items: center;
        box-shadow: -2rem 3rm 7rem rgba(0, 0, 0, 0.7);
        background-color: var(--color-gray-300);
        border-top: 1px solid burlywood;
        transform-origin: top;
        opacity: 0;
        animation: animateDropdown 400ms 0s ease forwards;
    }
    .nav__items li:nth-child(2){
        animation-delay: 200ms;
    }
    .nav__items li:nth-child(3){
        animation-delay: 300ms;
    }
    .nav__items li:nth-child(4){
        animation-delay: 400ms;
    }
    .nav__items li:nth-child(5){
        animation-delay: 500ms;
    }
    .nav__items li:nth-child(6){
        animation-delay: 600ms;
    }
    @keyframes animateDropdown {
        0%{
            transform: rotateX(90deg);
        }
        100%{
            transform: rotateX(0deg);
            opacity: 1;
        }
    }
    .nav__items li a{
        border-radius: 0;
        width: 100%;
        height: 100%;
        background-color: var(--color-primary);
        color: black;
        padding: 0 2rem;
        display: flex;
        align-items: center;
    }
    .nav__profile{
        background-color: var(--color-primary-light);
    }
    .nav__profile ul{
        width: 100%;
        height: 100%;
    }
    .nav__profile .avatar{
        margin-left: 2rem;
        border: 0;
        background-color: violet;
    }
    .featured__container{
        gap: 3rem;
    }
    .posts__container{
        grid-template-columns: 1fr 1fr;
        gap: 3rem;
    }
    .search__bar-container{
        width: var(--container-width-md);
    }
}
@media screen and (max-width:600px){
    section{
        margin-top: 2rem;
    }
    h1{
        font-size: 2rem;
    }
    .featured{
        margin-top: 6rem;
    }
    .featured__container{
        grid-template-columns: 1fr;
        gap: 0;
    }
    .posts__container{
        grid-template-columns: 1fr;
        margin-top: 6rem;
    }
    .category__buttons-container{
        grid-template-columns: 1fr 1fr;

    }
    .featured__thumbnail{
        width: 70vw;
        aspect-ratio: 1/1;
    }
}